@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png);
    width: 100vw;
    height: 100vh;
    background-size:100%;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    
}
#a1{
    width: 500px;
    position: absolute;
    top:5%;
    left:5%;
    animation: float 5s infinite;

}

#a2{
    width: 500px;
    position: absolute;
    top:25%;
    right: 40%;
    animation: float 5s infinite;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
}
form{
    position: absolute;
    top: 15%;
    left: 56%;
    width: 350PX;
    /* height: 600px; */
    padding: 0 75PX;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.block-display{
    display: block;
}

label{
    font-size: 16px;
    margin: 20px 0 4px 0;
   
    margin-bottom: 5px;
    font-weight: bold;
}



input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    
    margin: auto;
    
}


input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #ec9203;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 40px auto;
}


select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    

}